src/workflows/unified_pipeline.json
{
    "name": "Unified Job Automation Pipeline",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 15
                        }
                    ]
                }
            },
            "name": "Every 15 Mins",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "url": "https://weworkremotely.com/categories/remote-programming-jobs.rss"
            },
            "name": "Fetch RSS",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                200,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8010/normalize",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "title",
                            "value": "={{ $json.title }}"
                        },
                        {
                            "name": "url",
                            "value": "={{ $json.link }}"
                        },
                        {
                            "name": "description",
                            "value": "={{ $json.contentSnippet || $json.content }}"
                        },
                        {
                            "name": "source",
                            "value": "RSS_Feed"
                        },
                        {
                            "name": "company",
                            "value": "Unknown"
                        }
                    ]
                },
                "options": {}
            },
            "name": "API: Normalize",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                400,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8010/classify",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "role_title",
                            "value": "={{ $json.role_title }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "API: Classify",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                600,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8010/score",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "job_description",
                            "value": "={{ $('API: Normalize').item.json.description }}"
                        },
                        {
                            "name": "role_title",
                            "value": "={{ $('API: Normalize').item.json.role_title }}"
                        },
                        {
                            "name": "resume_text",
                            "value": "Senior Software Engineer with experience in Python, Automation, and APIs."
                        }
                    ]
                },
                "options": {}
            },
            "name": "API: ATS Score",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                800,
                0
            ]
        },
        {
            "parameters": {
                "operation": "upsert",
                "mode": "from",
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "YOUR_SHEET_ID_HERE"
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": "Sheet1"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "job_id": "={{ $('API: Normalize').item.json.job_id }}",
                        "ats_score": "={{ $json.score }}"
                    },
                    "matchingColumns": [
                        "job_id"
                    ]
                },
                "options": {}
            },
            "name": "Write to Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.3,
            "position": [
                1000,
                0
            ]
        }
    ],
    "connections": {
        "Every 15 Mins": {
            "main": [
                [
                    {
                        "node": "Fetch RSS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch RSS": {
            "main": [
                [
                    {
                        "node": "API: Normalize",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "API: Normalize": {
            "main": [
                [
                    {
                        "node": "API: Classify",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "API: Classify": {
            "main": [
                [
                    {
                        "node": "API: ATS Score",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "API: ATS Score": {
            "main": [
                [
                    {
                        "node": "Write to Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}