src/workflows/workflow_1_ingestion.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://www.ycombinator.com/jobs/rss",
        "returnFormat": "json"
      },
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Import normalization logic or define here\n// Note: n8n Function nodes run pure JS.\n// This mimics the logic from src/utils/job_normalizer.py\n\nconst items = $items('Fetch RSS Feed');\nconst normalized = [];\n\nfor (const item of items) {\n  const json = item.json;\n  const jobUrl = json.link;\n  \n  // Simple Hash (In prod use crypto library)\n  // This is a placeholder for the actual hashing logic\n  const id = jobUrl ? jobUrl.split('').reduce((a,b)=>{a=((a<<5)-a)+b.charCodeAt(0);return a&a},0) : null;\n\n  if (id) {\n    normalized.push({\n      json: {\n        job_id: Math.abs(id).toString(),\n        title: json.title,\n        company: 'RSS Source', // Parser needed for better extraction\n        job_url: jobUrl,\n        date_found: new Date().toISOString(),\n        status: 'New',\n        source: 'RSS'\n      }\n    });\n  }\n}\n\nreturn normalized;"
      },
      "name": "Normalize & Hash",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "A:A",
        "lookupColumn": "job_id",
        "lookupValue": "={{$node[\"Normalize & Hash\"].json[\"job_id\"]}}"
      },
      "name": "Check Duplicates",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Check Duplicates\"].json[\"job_id\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is New?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "A:T",
        "options": {}
      },
      "name": "Add to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1250,
        250
      ]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Normalize & Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Hash": {
      "main": [
        [
          {
            "node": "Check Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicates": {
      "main": [
        [
          {
            "node": "Is New?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New": {
      "main": [
        [
          {
            "node": "Add to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
