src/workflows/workflow_5_apply.json
{
    "name": "Job Application Sender",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 1
                        }
                    ]
                }
            },
            "name": "Every Hour",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                0
            ],
            "id": "schedule-trigger"
        },
        {
            "parameters": {
                "operation": "get",
                "range": "A:Z",
                "options": {}
            },
            "name": "Get Ready Jobs",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.3,
            "position": [
                220,
                0
            ],
            "id": "read-sheet"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8010/generate_cover_letter",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "company",
                            "value": "={{ $json.company }}"
                        },
                        {
                            "name": "role_title",
                            "value": "={{ $json.role_title }}"
                        },
                        {
                            "name": "my_name",
                            "value": "Kuhananth"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Generate Letter",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                440,
                0
            ],
            "id": "generate-letter"
        },
        {
            "parameters": {
                "filePath": "/data/resume.pdf",
                "dataPropertyName": "data"
            },
            "name": "Read Resume",
            "type": "n8n-nodes-base.readBinaryFile",
            "typeVersion": 1,
            "position": [
                660,
                0
            ],
            "id": "read-resume"
        },
        {
            "parameters": {
                "sendTo": "={{ $('Get Ready Jobs').item.json.contact_email }}",
                "subject": "Application for {{ $('Generate Letter').item.json.role_title }}",
                "message": "={{ $('Generate Letter').item.json.content }}",
                "options": {
                    "attachments": "data"
                }
            },
            "name": "Send Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                880,
                0
            ],
            "id": "send-email"
        }
    ],
    "connections": {
        "Every Hour": {
            "main": [
                [
                    {
                        "node": "Get Ready Jobs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Ready Jobs": {
            "main": [
                [
                    {
                        "node": "Generate Letter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Letter": {
            "main": [
                [
                    {
                        "node": "Read Resume",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Resume": {
            "main": [
                [
                    {
                        "node": "Send Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}